{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>Mythical Token</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'css/templatemo-seo-dream.css'%}">
    <link rel="stylesheet" href="{% static 'css/animated.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.css'%}">
</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href=""class="logo">
              <h4>Mythical Token <img src="{% static 'images/logo-icon.png'%}" alt=""></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#features">Ecosystem</a></li>
              <li class="scroll-to-section"><a href="#about">Buy</a></li>
              <li class="scroll-to-section"><a href="#services">Mythical Swap</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Our Journey</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
              <li class="scroll-to-section"><div class="main-blue-button"><a href="#contact">How to Buy</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Mythical Token</h2>
                    <h4>Mythical Token is a token that provide Dapps AMM + Yield Farm + NFT Game and NFT Market Place run on Binance Smart Chain.</h4> 
                  </div>
                  <div class="col-lg-12">
                    <div class="main-green-button scroll-to-section">
                      <br>
                      <a href="#contact">Buy Now!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'images/banner-right-image.png'%}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div id="features" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Main Project product</h6>
            <h2>Discover Our Recent <em>Projects</em> And <span>Showcases</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Mythical Swap</h4>
                  <div class="line-dec"></div>
                  <p>Welcome to the Mythical Token Ecosystem Dapps – the next generation of Automated Market Making (AMM) decentralized exchange Apps where you can farm token and lotfs of other features that allow you to earn lot of token.
                    </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Mythical Gods Land</h4>
                  <div class="line-dec"></div>
                  <p>Mythical Gods Land is the first attempt to create a truly public application with an exciting plot that would attract first ordinary players, secondly blockchain enthusiasts and DeFi nerds.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Market Place</h4>
                  <div class="line-dec"></div>
                  <p>Welcome to the NFT on Game Item market place presented by developer team. This market place will be the place for every Mythical Gods Land player to sell their on game item, and meet the buyer. The currency that will be used on this market place is our core token (Mythical token), BNB, BTC and stable coin (USDT and BUSD).</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>$myth Token</h4>
                  <div class="line-dec"></div>
                  <p>Mythical Token ($myth) will be the main currency of Myhtical Ecosystem, this main token can be used on every Mythical Ecosystem produk (Mythical Swap, Mythical Gods Land, Market Place). Mythical token will be build on Binance Smart Chain and will be BEP20 token with fixed maximum supply is 10B $myth.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="features-content">
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="{% static 'images/about-left-image.png'%}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading">
            <h2>Token Model</h2>
          </div>
          <p>Mythical Token <em>$myth</em> will be the main currency of Myhtical Ecosystem,
            this main token can be used on every Mythical Ecosystem produk (Mythical Swap, Mythical Gods Land, Market Place). 
            Mythical token will be build on Binance Smart Chain and will be <span>BEP20 token</span> with fixed maximum supply is 10B $myth.</p>
          <div class="main-green-button"><a href="#">Discover Mythical</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Our mission is</h6>
            <h2><span>To present</span> a digital ecosystem based on existing ancient history, where community member can  <em>earn, farm, and play</em> on our digital world.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Our Journey</h6>
            <h2>Discover Our Recent <em>Projects</em> And <span>Showcases</span></h2>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="icon">
                      <img src="{% static '/images/service-icon-01.png'%}" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="right-content">
                      <h4>•	Q2-2021</h4>
                      <p><ul>	
                        <li>•	Idea creation</li>
                        <li>•	Building a Team</li>
                        <li>•	Team Brainstorming</li>
                        <li>•	Research on another platform</li>
                        <li>•	Decision Making</li>
                        <li>•	Road Map Planning</li>
                        <li>•	Mythical Token Smart Contract Development</li>
                      </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="icon">
                      <img src="{% static '/images/service-icon-02.png'%}" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="right-content">
                      <h4>•	Q3- 2021 (July- August)</h4>
                      <p>
                        <ul>
                          <li>•	Documentation</li>
                          <li>•	Whitepaper release</li>
                          <li>•	Web Building</li>
                          <li>• Social Media Branding</li>
                          <li>• Air Drop phase 1</li>
                          <li>• Pre-Sale Phase 1</li>
                          <li>• Pre-Sale Phase 2</li>
                          <li>• List on Coin Sniper</li>
                          <li>• Audit by Tech Rate</li>
                          <li>• Marketing by Influencer</li>
                          <li>• Dapps (Mythical Swap Test Net)</li>
                          <li>• Live Coin Watch Listing</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="icon">
                      <img src="{% static '/images/service-icon-03.png'%}" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="right-content">
                      <h4>•	Q3- 2021 (September)</h4>
                      <p>
                        <ul>
                          <li>• Public Sale on Mythical Swap</li>
                          <li>• Liquidity Lock and Burn</li>
                          <li>• Air Drop Phase 2</li>
                          <li>• Staking and Farming Contract for Myth</li>
                          <li>• Coin Market Cap Listing</li>
                          <li>• Coingecko Listing</li>
                          <li>• Finding Strategic Partner</li>
                          <li>• Dex Guru Listing</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="icon">
                      <img src="{% static '/images/service-icon-01.png'%}" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="right-content">
                      <h4>•	Q4 -2021 (October – December)</h4>
                      <p>
                        <ul>
                          <li>•	Audit by Cetrik</li>
                          <li>•	Coinpaprika Listing</li>
                          <li>•	Bsc Scan Listing</li>
                          <li>•	Community Governance Launch</li>
                          <li>•	Mythical Gods Land Test Net</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h6>Contact Us</h6>
                  <h2>Fill Out The Form Below To <span>Get</span> In <em>Touch</em> With Us</h2>
                  <br><a href="https://twitter.com/TokenMythical" class="fa fa-lg fa-twitter"></a> 
                  <a href="https://mythicaltoken.gitbook.io/mythical-token-ecosystem-1/" class="fa fa-lg fa-github"></a>
                  <a href="https://medium.com/@mythicaltoken" class="fa fa-medium"></a>
                  <a href="https://t.me/mythicalpublic" class="fa fa-telegram"></a>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="row">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2021  Ltd. All Rights Reserved. 
          <br>Web Designed by Mythical Team</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/animation.js'%}"></script>
  <script src="{% static 'js/imagesloaded.js'%}"></script>
  <script src="{% static 'js/custom.js'%}"></script>
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/custom.js'%}"></script>

</body>
</html>